<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="localConnection" connectionString="Data Source=(localdb)\MaksymServerLocal;Initial Catalog=Alpha_Three;Integrated Security=True"/>
		<add name="skolniConnection" connectionString="Data Source=PCXXX;Initial Catalog=Alpha_Three;Persist Security Info=True;User ID=admin_user;Password=123"/>
	</connectionStrings>
	<appSettings>
		<add key="logFilePath" value="../../../errorLogs/log.txt"/>
		<add key="ticketViewReportPath" value="../../../data/ticketReport.txt"/>
		<add key="driveViewReportPath" value="../../../data/driveReport.txt"/>
	</appSettings>
</configuration>